<%- include('./includes/page-start.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5">
                <div class="card-body">
                    <form id="queryForm">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" value="select * from grups" placeholder="SQL query">
                            <button class="btn btn-primary" id="formSubmit" type="submit">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="queryResults">
        <div class="col-12">
            <div class="card mt-5">
                <div class="card-body">
                    <h3>QUERY RESULTS</h3>

                    <table class="table ">
                        <thead>
                        <tr id="resHead"></tr>
                        </thead>
                        <tbody id="resBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="queryErr">
        <div class="col-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="alert alert-danger mb-0" role="alert">
                        err
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="queryInfo">
        <div class="col-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="alert alert-success mb-0" role="alert">
                        info
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/page-end.ejs') %>